{{- $subSections := partial "all_sections.html" .p }}
{{- $subPages := .p.RegularPagesRecursive }}
{{- if or $subSections $subPages }}
    {{- if $subSections }}
        <span>{{- i18n "sections" (len $subSections) }}</span>
    {{- end }}
    {{- if $subPages }}
        <span class="card-anchor">{{- i18n "links" (len $subPages) }}</span>
    {{- end }}
    {{- with $.p.GetTerms "tags" }}
        {{- range . }}
            <span><a href="{{ .RelPermalink }}">{{ .Name }}</a></span>
        {{- end }}
    {{- end }}
{{- end }}