{{- $link := . }}
{{- $svg := partial "svg.html" "post" }}
{{- if eq $link "book" }}
    {{- $svg = partial "svg.html" "book" }}
{{- else if strings.Contains $link "youtube.com" }}
    {{- $svg = partial "svg.html" "youtube" }}
{{- else if strings.Contains $link "github.com" }}
    {{- $svg = partial "svg.html" "github" }}
{{- else if strings.Contains $link "//t.me/" }}
    {{- $svg = partial "svg.html" "telegram" }}
{{- else if strings.Contains $link "music.yandex" }}
    {{- $svg = partial "svg.html" "music" }}
{{- end }}
{{- return $svg }}