.home-info .entry-content {
    -webkit-line-clamp: unset;
}

.card-post-entry {
    position: relative;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border);
}

.dark .card-post-entry:target {
    border: 1px solid #ffa;
}

.card-post-entry:target {
    border: 1px solid rgb(0, 0, 238);
}

.card-header {
    position: relative;
}

.card-post-entry:has(> header:active) {
    transform: scale(0.98);
}

.tag-entry .entry-cover {
    display: none;
}

.card-header h2 {
    font-size: 24px;
    line-height: 1.3;
}

.card-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
}


.card-content h3,
.card-content h4,
.card-content h5,
.card-content h6 {
    margin: 24px 0 16px;
}

.card-content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
}

.card-content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

.card-content h3 {
    font-size: 24px;
}

.card-content h4 {
    font-size: 16px;
}

.card-content h5 {
    font-size: 14px;
}

.card-content h6 {
    font-size: 12px;
}

.card-content a,
.toc a:hover {
    box-shadow: 0 1px 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.card-content a code {
    margin: auto 0;
    border-radius: 0;
    box-shadow: 0 -1px 0 var(--primary) inset;
}

.card-content del {
    text-decoration: line-through;
}

.card-content dl,
.card-content ol,
.card-content p,
.card-content figure,
.card-content ul {
    margin-bottom: var(--content-gap);
}


.card-content ol,
.card-content ul {
    padding-inline-start: 20px;
}

.card-content li {
    margin-top: 5px;
}

.card-content li p {
    margin-bottom: 0;
}

.card-content dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.card-content dt {
    width: 25%;
    font-weight: 700;
}

.card-content dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
}

.card-content dd ~ dd,
.card-content dt ~ dt {
    margin-top: 10px;
}

.card-content table {
    margin-bottom: var(--content-gap);
}

.card-content table th,
.card-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 80px;
    padding: 8px 5px;
    line-height: 1.5;
    border-bottom: 1px solid var(--border);
}

.card-content table th {
    text-align: start;
}

.card-content table:not(.highlighttable) td code:only-child {
    margin: auto 0;
}

.card-content .highlight table {
    border-radius: var(--radius);
}

.card-content .highlight:not(table) {
    margin: 10px auto;
    background: var(--code-block-bg) !important;
    border-radius: var(--radius);
    direction: ltr;
}

.card-content li > .highlight {
    margin-inline-end: 0;
}

.card-content ul pre {
    margin-inline-start: calc(var(--gap) * -2);
}

.card-content .highlight pre {
    margin: 0;
}

.card-content .highlighttable {
    table-layout: fixed;
}

.card-content .highlighttable td:first-child {
    width: 40px;
}

.card-content .highlighttable td .linenodiv {
    padding-inline-end: 0 !important;
}

.card-content .highlighttable td .highlight,
.card-content .highlighttable td .linenodiv pre {
    margin-bottom: 0;
}

.card-content code {
    /* margin: auto 4px; */
    padding: .2em .4em;
    font-size: 85%;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 6px;
}

.card-content pre code {
    display: grid;
    margin: auto 0;
    padding: 10px;
    color: rgb(213, 213, 214);
    background: var(--code-block-bg) !important;
    border-radius: var(--radius);
    overflow-x: auto;
    word-break: break-all;
}

.card-content blockquote {
    margin: 20px 0;
    padding: 0 14px;
    border-inline-start: 3px solid var(--primary);
}

.card-content hr {
    margin: 30px 0;
    height: 2px;
    background: var(--tertiary);
    border: 0;
}

.card-content iframe {
    max-width: 100%;
}

.card-content img {
    border-radius: 4px;
    margin: 1rem 0;
}

.card-content img[src*="#center"] {
    margin: 1rem auto;
}

.card-content figure.align-center {
    text-align: center;
}

.card-content figure > figcaption {
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 16px;
}

.card-content figure > figcaption > p {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
}

.card-footer {
    color: var(--secondary);
    font-size: 13px;
    display: flex;
    gap: 16px;
}

.card-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.card-hint>svg {
    height: 1em;
}

.card-hint-icons {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 6px;
}

.card-hint-type {
    font-weight: 500;
    user-select: none;
    box-shadow: none;
    border-radius: var(--radius);
    padding: 0 8px 0 0;
}

.card-hint-type>svg {
    height: 0.8em;
}

.card-hint-parent {
    display: flex;
    justify-content: space-between;
}

.card-hidden-link {
    margin-bottom: calc(var(--gap) - 1em);
    display: flex;
    justify-content: right;
    font-size: 10px;
    padding: 0 calc(var(--gap)/2) 0 calc(var(--gap)/2);
}

.card-hidden-link-text {
    color: var(--tertiary);
}

.card-anchor {
    flex-grow: 1;
}
